.listitem {
  all: unset;
  width: 100%;
  text-align: center;
  color: #0f0f0f;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listitem:hover {
  cursor: pointer;
}

.listitemtext {
  font-family: 'Dancing Script', 'Apple Chancery', sans-serif;
  font-size: 3rem;
  color: rgb(19, 17, 16);
  text-shadow: 1px 1px 1px #ddcdb695;
}

.underline {
  margin-top: -0.35rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
