.listitem {
  font-size: 1.5rem;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8), -1px -1px 2px rgba(0, 0, 0, 0.8);
  font-family: Almendra, serif;
  transition: color 150ms ease-in-out;
  cursor: pointer;
}

.listitem:hover {
  color: rgb(190, 190, 190);
}
