@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-sm font-roboto-slab text-gray-50 bg-blue-950 absolute top-0 left-0 bottom-0 right-0;
  }

  #root {
    @apply w-full h-full relative;
  }
}

@font-face {
  font-family: 'Apple Chancery';
  src: url('/fonts/Apple\ Chancery\ Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Dancing Script';
  src: url('/fonts/DancingScript-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Almendra';
  src: url('/fonts/Almendra-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Amarante';
  src: url('/fonts/Amarante-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('/fonts/RobotoSlab-Variable_wght.ttf') format('truetype');
}
