@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-sm font-overlock text-gray-50 bg-black absolute top-0 left-0 bottom-0 right-0;
  }

  #root {
    @apply w-full h-full relative;
  }

  .perspective-1000 {
    perspective: 1000px;
  }

  .preserve-3d {
    transform-style: preserve-3d;
  }

  .backface-hidden {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .shadow-inner-lg {
      box-shadow: rgba(50, 50, 93, 0.25) 0px -13px 27px -5px inset,
    rgba(0, 0, 0, 0.3) 0px -8px 16px -8px;
  }

  .rotate-y-180 {
    transform: rotateY(180deg);
  }

  .page-enter {
    opacity: 0;
  }
  .page-enter-active {
    opacity: 1;
    transition: opacity 500ms;
  }
  .page-exit {
    opacity: 1;
  }
  .page-exit-active {
    opacity: 0;
    transition: opacity 500ms;
  }
}

@font-face {
  font-family: 'OverlockSC';
  src: url('/fonts/OverlockSC-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Apple Chancery';
  src: url('/fonts/Apple\ Chancery\ Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Dancing Script';
  src: url('/fonts/DancingScript-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Almendra';
  src: url('/fonts/Almendra-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Amarante';
  src: url('/fonts/Amarante-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('/fonts/RobotoSlab-Variable_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter.ttf') format('truetype');
}
